body > .ui.container {
  margin-top: 20em;
}
body {
  background-color: #dadada;
}
.main {
  min-height: 100%;
  padding-bottom: 60px;
  box-sizing: border-box;
}
.footer {
  background-color: black;
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  margin-top: -29px;
  left: 0;
  width: 100%;
  padding: 5px 0;
  padding-right: 10px;
  text-align: right;
}
.intro {
  font-size: 1.5em;
}

.search-bar {
  width: 500px;
}

.search-bar > .input {
  width: 100%;
}

.ui.search > .results {
  width: 500px;
}

.min200 {
  min-width: 200px;
}
