<html>
<head>
<title>Overwatch Coaching Index</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
<style type="text/css">
    body > .ui.container {
      margin-top: 20em;
    }
    body {
      background-color: #DADADA;
    }
  </style>
</head>
<body>
<div class="ui inverted menu">
    <a href="#" class="header item">
      Overwatch Index
    </a>
</div>
<div class="ui two column doubling stackable grid">
    <div class="row">
    </div>
    <div class="row">
    <div class="three wide column">
      <div class="ui vertical menu">
        <div class="item">
          Heroes
          <div class="menu">
            {% for hero, data in results["heroes"].items() %}
            {% if (data["videos"] | length) > 0 %}
            <a class="{% if hero == active %}active {% endif %}item" href="{{ hero }}.html">
            {{ data.name }}
            <div class="ui label">{{ data["videos"] | length }}</div>
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="item">
          Ranks
          <div class="menu">
            {% for rank, data in results["ranks"].items() %}
            {% if  (data["videos"] | length) > 0 %}
            <a class="{% if rank == active %}active {% endif %}item" href="{{ rank }}.html">
            {{ data.name }}
            <div class="ui label">{{ data["videos"] | length }}</div>
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="floated twelve wide column">
        <div class="ui cards">
        {% if active == "index" %}
          Latest videos placeholder
        {% else %}
        {% if active in results["heroes"] %}
        {% for video in results["heroes"][active]["videos"] %}
        {% set date = video["snippet"]["publishedAt"].split("T")[0] %}
        <a class="ui raised card" target="_blank" href="https://www.youtube.com/watch?v={{ video.snippet.resourceId.videoId }}">
            <div class="image">
                <img width="{{ video.snippet.thumbnails.high.width }}"
                     height="{{ video.snippet.thumbnails.high.height }}"
                     src="{{ video.snippet.thumbnails.high.url }}">
            </div>
            <div class="content">
                <span class="header">{{ video.snippet.channelTitle }} - {{ video.snippet.title }}</span>
                <div class="meta">
                    <span class="date">{{ date }}</span>
                </div>
            </div>
            <div class="extra content">
            {% for rank in video.rank %}
                <div class="ui label {{ rank_to_colour(rank) }}"><i class="cubes icon"></i>{{ rank }}</div>
            {% endfor %}

            </div>
        </a>
        {% endfor %}
        {% elif active in results["ranks"] %}
        {% for video in results["ranks"][active]["videos"] %}
        {% set date = video["snippet"]["publishedAt"].split("T")[0] %}        
        <a class="ui raised card" target="_blank" href="https://www.youtube.com/watch?v={{ video.snippet.resourceId.videoId }}">
            <div class="image">
                <img width="{{ video.snippet.thumbnails.high.width }}"
                     height="{{ video.snippet.thumbnails.high.height }}"
                     src="{{ video.snippet.thumbnails.high.url }}">
            </div>
            <div class="content">
                <span class="header">{{ video.snippet.channelTitle }} - {{ video.snippet.title }}</span>
                <div class="meta">
                    <span class="date">{{ date }}</span>
                </div>
            </div>
            <div class="extra content">
            {% for rank in video.rank %}
                <div class="ui label {{ rank_to_colour(rank) }}"><i class="cubes icon"></i>{{ rank }}</div>
            {% endfor %}
            </div>
        </a>
        {% endfor %}
        {% endif %}
        {% endif %}
        </div>
    </div>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
</body>
</html>
