{% from 'video_card.html.jinja2' import video_card %}
<html>
<head>
<title>Overwatch Coaching Index</title>
<link rel="stylesheet" href="static/css/semantic.min.css" />
<link rel="stylesheet" href="static/css/main.css" />
</head>
<body>
<div class="main">
<div class="ui inverted menu">
    <a href="./" class="header item">
      Overwatch Index
    </a>
    <div class="item">
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt search-bar" type="text" placeholder="Search videos...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
    </div>
</div>
<div class="ui two column doubling grid">
    <div class="row">
    </div>
    <div class="row">
    <div class="two wide column min200">
      <div class="ui vertical menu compact">
        <div class="item">
          Heroes
          <div class="menu">
            {% for hero, data in results["heroes"].items() %}
            {% if (data["videos"] | length) > 0 %}
            <div class="{% if hero == active %}active {% endif %} item">
              <a href="{{ hero }}.html">
              <i class="{{ data.icon }} icon"></i>
                {{ data.name }}
              </a>
            <div class="ui label">{{ data["videos"] | length }}</div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="item">
          Ranks
          <div class="menu">
            {% for rank, data in results["ranks"].items() %}
            {% if  (data["videos"] | length) > 0 %}
            <a class="{% if rank == active %}active {% endif %}item" href="{{ rank }}.html">
            {{ data.name }}
            <div class="ui label">{{ data["videos"] | length }}</div>
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="fourteen wide column">
        <div class="ui cards">
        {% if active == "index" %}
          <div class="container fluid">
          <p>
          <h1 class="ui header">Overwatch Coaching Index</h1><br />
          <p class="intro">
          This is a page in progress for helping Overwatch players find coaching and VOD reviews tailored to their specific hero or competitive rank.
          It is currently a very early work in progress so content and functionality will be limited.
          Updates are currently generated every four hours.
          <div class="ui horizontal divider">
          <h3>Latest Videos</h3>
          </div>
        </div>
        {% for video in sorted_results[0:10] %}
        {{ video_card(video) }}
        {% endfor %}
        {% else %}
        {% if active in results["heroes"] %}
        {% for video in results["heroes"][active]["videos"] %}
        {{ video_card(video) }}
        {% endfor %}
        {% elif active in results["ranks"] %}
        {% for video in results["ranks"][active]["videos"] %}
        {{ video_card(video) }}
        {% endfor %}
        {% endif %}
        {% endif %}
        </div>
    </div>
    </div>
</div>
</div>
<div class="ui footer">
<i>Generated at {{ now }} UTC</i>
</div>
<script src="static/js/jquery-3.1.1.min.js"></script>
<script src="static/js/semantic.min.js"></script>
<script>var content = {{ search_data }};
$('.ui.search')
  .search({
    source : content,
    searchFields   : [
      'title'
    ],
    fullTextSearch: 'exact'
  })
;
</script>
</body>
</html>
